body{
    background-color: dimgray;
        margin: auto auto;
    position: absolute;    
    width: 100%;
    height: 100%;
}

/*---Menu---*/

.menu
{
  white-space: nowrap;
  margin: 0 0 0 12%;
  font-family: 'Cinzel Decorative', serif;
  letter-spacing: 0.3vw;
  font-size: 1.5vw;
  color: white;
  text-shadow: 2.5px 2px 5px grey;
}

.whitebar
{
  background-color: white;
    height: 0.2vw;
    width 0%;
    margin-top: 0.4vw;  
}

.topwhitebar
{
  background-color: white;
    height: 0.2vw;
    width 100%;
    margin-top: 1.5vw;  
}

.topname {
  max-width: 100%;
  white-space: nowrap;
  margin: auto 5%;
  font-family: 'Cinzel Decorative', serif;
  letter-spacing: 0.15vw;
  font-size: 2vw;
    font-weight: 600;
}


.dropbtn {
  background-color: transparent;
  padding: .95vw 0.5vw;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: -10%;
  background-color: grey;
  width: 30vw;
  box-shadow: 0% 8% 16% 0% rgba(0,0,0,0.2);
  z-index: 1;
font-size: 1.2vw;
}

.dropdown-content a {
  color: whitesmoke;
  padding-top: 4%;
  padding-bottom: 4%;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 150%;
  font-family: serif;
}

.dropdown-content a:hover {background-color:skyblue;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover #bar{background-color: aliceblue;}
.dropdown:hover .menu{color: aliceblue;}



.border{
    background-color: dimgrey;
    border: 10px solid lightgrey;
    width: 70%;
    padding-left: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
}

/* Circle Chart */
.circle-chart-container {
	position: relative;
	width: 50%;
    
}

.circle-chart{
    overflow: visible;
    width: 100%;
}

.percentcirclename
{

    width: 20%;
    height: 20%;
    padding-top: 1%;
    border-radius: 50%; 
    text-align: center;
    position: absolute;
    margin-top: -60%;
    margin-left: 40%;
    font-size: 3vw;
}

.percentcircle
{
    width: 20%;
    height: 20%;
    text-align: center;
    position: absolute;
    margin-top: -45%;
    margin-left: 40%;
    font-size: 1.5vw;
}

#cplus
{
    color: transparent;
    transition: 0.4s ease-in-out;
    -webkit-transition:0.4s  ease-in-out;
    margin-left: 39%;
}

#percentcplus
{
    color: transparent;
    transition: 0.4s ease-in-out;
    -webkit-transition:0.4s  ease-in-out;
}

#percentcss
{
    color: transparent;
    transition: 0.4s ease-in-out;
    -webkit-transition:0.4s  ease-in-out;
}

#CSS
{
    color:transparent;
    transition: 0.4s ease-in-out;
    -webkit-transition:0.4s  ease-in-out;
    margin-left: 38%;
}

.circle-chart-circle {
 	animation: circle-chart-fill 1.35s reverse;
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	transform: rotate(-90deg);
	transform-origin: center;
    transition: 0.3s ease-in-out;
    -webkit-transition:0.3s  ease-in-out;
}

.circle-chart-one {
    overflow: visible;
    width: 100%;
    stroke: #64b2d1!important;  
    stroke-width: 1.75!important;
}

.circle-chart-two {
	left: 5%;
	max-width: 90%;
	position: absolute;
	top: 5%;
    stroke: #5292ac!important;
    stroke-width: 1.6!important;
    color: aliceblue; 
}

.circle-chart-three {
	left: 9.8%;
	max-width: 80.5%;
	position: absolute;
	top: 9.7%;
    stroke: skyblue!important;
    stroke-width: 1.98!important;
}

.circle-chart-four {
	left: 14.8%;
	max-width: 70.5%;
	position: absolute;
	top: 14.67%;
    stroke: lightblue!important;
    stroke-width: 2.3!important;
}

.circle-chart-five {
	left: 19.83%;
	max-width: 60.6%;
	position: absolute;
	top: 19.59%;
    stroke:#daedf4!important;
    stroke-width: 2.59!important;
}

.circle-chart-six {
	left: 24.7%;
	max-width: 50.9%;
	position: absolute;
	top: 24.43%;
    stroke:#f8fcfd!important;
    stroke-width: 3.1!important;
}

.lang1{
    background color: aliceblue;
    height: 20%;
    width: 10%;
    border: 1px solid purple;
}


@keyframes circle-chart-fill {
	to { stroke-dasharray: 0 100; }
}


.circle-chart-container:hover svg:not(:hover) {
     transition: 0.3s ease-in-out;
    -webkit-transition:0.3s  ease-in-out;
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
    opacity: 0.6;
}


.animation-wrapper1:hover .circle-chart-one{
    cursor:pointer;  
   stroke: darkblue!important;}

.animation-wrapper1:hover #cplus{
   color: white;
}
.animation-wrapper1:hover #percentcplus{
   color: white;
}


.animation-wrapper2:hover .circle-chart-two{
    cursor:pointer;  
   stroke: darkblue!important;}

.animation-wrapper1:hover #CSS{
   color: white;
}
.animation-wrapper1:hover #percentcss{
   color: white;
}





article.tabs
{
	position: relative;
	display: block;
	width: 44vw;
	height: 15vw;
    margin-left: -45%;
    
}

article.tabs section
{
	position: absolute;
	display: block;
	top: 1.8vw;
	left: 0;
	height: 14vw;
	padding: 10px 20px;
	background-color: #ddd;
    width: 100%;
}

article.tabs section:first-child
{
	z-index: 1;
}

article.tabs section h2
{
	position: absolute;
	font-size: 1.5vw;
	font-weight: normal;
	width: 8.7vw;
	height: 2.5vw;
	top: -2.5vw;
	left: 0.7vw;
	padding: 0;
	margin: 0;
	color: #999;
	background-color: #ddd;
}

article.tabs section:nth-child(2) h2
{
	left: 9.7vw;
}

article.tabs section:nth-child(3) h2
{
	left: 18.7vw;
}

article.tabs section h2 a
{
	display: block;
	width: 100%;
	line-height: 2.5vw;
	text-align: center;
	text-decoration: none;
	color: inherit;
	outline: 0 none;
}

article.tabs section,
article.tabs section h2
{
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}

article.tabs section:target,
article.tabs section:target h2
{
	color: #333;
	background-color: #fff;
	z-index: 2;
}