body
{
    margin: auto auto;
    position: absolute;    
    width: 100%;
    height: 100%;
    text-overflow:ellipsis;
   background: url(images/la-jolla-shores-beach-san-diego-california-GOSANDIEGO0519%5B1%5D.jpg) no-repeat fixed;
   background-color: rgb(187, 152, 193);
  background-size: cover;
        margin: auto auto;
}

.background{
     background-color: rgb(187, 152, 193, 0.4);
    margin: auto auto;
    position: absolute;    
    width: 100%;
}

h1{
text-align: center;
}

.header{
    width: 100%;
    height: 5vw;
   /* background-color: rgb(187, 152, 193,0.5);*/
    

}

#contentmargin
{
    margin: 2% auto;
}

.border{
    width: 90%;
    height: 50%;
    padding: 2%;
    background-image: linear-gradient(to right, rgb(187, 152, 193) 0%, skyblue 100%);
    box-shadow: rgba(0,0,0,0.2) 5px 1px 10px;
}

.border2{
    width: 80%;
    height: 50%;
    margin: 10% auto;
    padding: 2%;
    background-image: linear-gradient(to right, rgb(187, 152, 193) 0%, skyblue 100%);
    box-shadow: rgba(1,1,1,0.5) 1px 10px 20px;
}


.contentcontainer {
    height: 35vw;
    padding: 7%;
    border: 1vw solid #ffffff;
    background-color: rgb(237, 237, 237);
    font-family: 'Cinzel Decorative', serif;
    font-weight: bold;
    font-size: 1.3vw;
    color: purple;
}

input
{
    width: 20vw;
    height: 2.2vw;
	border-radius: 4px;
    font-family: 'El Messiri', sans-serif;
    padding-left: 0.5vw;
    font-size: 1.4vw;
}

.find-us
{
    width: 21.2vw;
    height: 3.2vw;
    padding-left: 0.5vw;
	border-radius: 4px; 
    font-family: 'El Messiri', sans-serif;
    font-size: 1.3vw;
    box-shadow: inset  1px 10px 2px rgba(0,0,0,0.6);
    -webkit-box-shadow: inset  1px 1px 0px rgba(0,0,0,0.5);
}

.top
{
    margin: 0vw 0 2vw 3vw;
}
.rows
{
    margin: 0.5vw 0 2vw 3vw;
}

textarea
{
    height: 13vw;
    width: 19.1vw;
    font-family: 'El Messiri', sans-serif;
    padding: 0.5vw;
    font-size: 1.2vw;
    border-radius: 4px;
    box-shadow: inset  1px 10px 2px rgba(0,0,0,0.6);
    -webkit-box-shadow: inset  1px 1px 0px rgba(0,0,0,0.5);
    margin: 0 0 5% 0;
}
    
.bottomrow
{
   margin: 3vw 0 2vw 3vw;
}

/*-----Button-----*/

.submitbutton
{
  border: none;
  color: rgb(130, 120, 199);
  font-size: 1.5vw;
  font-weight: bold;
  font-family: 'Cinzel Decorative', serif;

}

.btn {
	background-image: linear-gradient(to right, rgb(187, 152, 193) 0%, skyblue 100%);
	border-radius: 40px;
    box-sizing: border-box;
	color: black;
	display: block;
	letter-spacing: 1%;
	margin:auto;
	padding: 0.2vw;
	position: relative;
    text-decoration: none;
	text-transform: uppercase;
	width: 32vw;
    height: 3.5vw;
}

.submitbutton:hover {
	color: #fff;
    
}

.btn .submitbutton {
	align-items: center;
	border-radius: 40px;
	display: flex;
	justify-content: center;
	height: 100%;
	transition: background .6s ease;
	width: 100%;
}

.btn:hover .submitbutton {
	background: transparent;
}

/*--DropDown Menu--*/


.dropbtn {
  background-color: transparent;
  padding: 1vw 1vw 0 0;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: grey;
  width: 30vw;
  box-shadow: 0% 8% 16% 0% rgba(0,0,0,0.2);
  z-index: 1;
font-size: 1.2vw;
}

.dropdown-content a {
  color: whitesmoke;
  padding-top: 4%;
  padding-bottom: 4%;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 150%;
  font-family: serif;
}

.dropdown-content a:hover {background-color:skyblue;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover #bar{background-color: skyblue;}

#bar
{
    background-color: lightblue;
    height: 0.4vw;
    width: 3vw;
    margin-top: 0.4vw;
}

/*----top titles----*/

.title{ 
    font-size: 1.5vw;
    color: purple;
    font-family: 'El Messiri', sans-serif;
    padding: 4vw;
    font-weight: bold;
}

.contactinfo
{
    padding: 1% 0 1% 0;
    border: 1vw solid #ffffff;
    background-color: rgb(237, 237, 237);
}

.long-copy {
    line-height: 145%;
    width: 77.9%;
    margin: 0 auto;
    margin-top: 3%;
    color: white;
    font-size: 1.4vw;
    text-align: center;
    font-family: 'El Messiri', sans-serif;
    text-shadow: 1px 1px 10px grey;
}

lable
{
    font-size: 1.2vw;
}

/*---Double line--*/
article {
  max-width: 90%;
  overflow: hidden;
  margin: 1% 10% -2% 10%;
  font-family: 'Cinzel Decorative', serif;
    word-spacing: 1vw;
    letter-spacing: 0.1vw;
    letter-spacing: 0.3vw;
}

.subtitle {
  margin: 5% 0 4% 0;
    color: white;
}

.fancy {
  line-height: 10.5%;
  text-align: center;
}

.fancy span {
  display: inline-block;
  position: relative;  
  font-size: 3.0vw;
    font-weight: 600;
}

.fancy span:before,
.fancy span:after {
  content: "";
  position: absolute;
  height: 550%;
  border-bottom: 0.15vw solid white;
  border-top: 0.15vw solid white;
  width: 550%;
}

.fancy span:before {
  right: 100%;
  margin-right: 10%;
}

.fancy span:after {
  left: 100%;
  margin-left: 10%;
}


.menu
{
  white-space: nowrap;
  margin: 0 0 0 13%;
  font-family: 'Cinzel Decorative', serif;
  letter-spacing: 0.3vw;
  font-size: 1.5vw;
  color: white;
  text-shadow: 2.5px 2px 5px grey;
}

.whitebar
{
  background-color: white;
    height: 0.2vw;
    width 0%;
    margin-top: 0.4vw;  
}

.topwhitebar
{
  background-color: white;
    height: 0.2vw;
    width 100%;
    margin-top: 1.5vw;  
}

.topname {
  max-width: 100%;
  white-space: nowrap;
  margin: auto 5%;
  font-family: 'Cinzel Decorative', serif;
  letter-spacing: 0.15vw;
  font-size: 2vw;
    font-weight: 600;
}



