body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

    background-color: grey
}

.circle-chart-circle {
    transform: rotate(-90deg);
}

.circle-chart-one {
    position:absolute;
    width: 50%;
    stroke: transparent!important;  
    stroke-width: 2!important;
    left: -55%;
    top: -20%
}


@keyframes circle-chart-fill {
	to { stroke-dasharray: 0 100; }
}



/*---------TABS---------*/


.tabs
{
	position: relative;
	display: block;
	width: 44vw;
	height: 15vw;
    margin-left: -45%;
    margin-top: 10%;
    
}

#tab1
{
    background: lightblue; 
    text-align: center; 
}

.skills
{
    position: absolute;
    left:-36%;
    top: 45%;
    color: transparent;
    font-size: 2.5vw;
}

#skilltag
{
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}



.tabs section
{
	position: absolute;
	display: block;
	top: 1.8vw;
	left: 0;
	height: 14vw;
	padding: 10px 20px;
	background-color: #ddd;
    width: 100%;
}

.tabs section:first-child
{
	z-index: 1;
}

h2
{
	position: absolute;
	font-size: 1.5vw;
	font-weight: normal;
	width: 8.7vw;
	height: 2.5vw;
	top: -2.5vw;
	left: 0.7vw;
	padding: 0;
	margin: 0;
	color: #999;
	background-color: #ddd;
}

.tabs section:nth-child(2) h2
{
}

.tabs section:nth-child(3) h2
{
	left: 9.7vw;
}

.tabs section:nth-child(4) h2
{
	left: 18.7vw;
}

a
{
	display: block;
	width: 100%;
	line-height: 2.5vw;
	text-align: center;
	text-decoration: none;
	color: inherit;
	outline: 0 none;
}

.tabs section,
.tabs section h2
{
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
    
}

.tabs svg
{
  	-webkit-transition: all 2.5s ease-in-out;
	-moz-transition: all 2.5s ease-in-out;
	-ms-transition: all 2.5s ease-in-out;
	-o-transition: all 2.5s ease-in-out;
	transition: all 2.5s ease-in-out;  
}


.tabs section:target, 
.tabs section:target h2
{
	color: #333;
	background-color: #fff;
	z-index: 2;
}


.tabs section:target .circle-chart-circle
{
 	animation: circle-chart-fill 2s reverse;
	transform-origin: center;
}

.tabs section:target .circle-chart-one
{
    stroke: #64b2d1!important;
}

.tabs section:target .skills
{
     -webkit-animation: fadein 4s; 
     -moz-animation: fadein 4s; 
     -ms-animation: fadein 4s; 
     -o-animation: fadein 4s; 
     animation: fadein 4s;
     color: white;
}




