html{
    scroll-behavior: smooth
}

body {
    margin: auto auto;
    position: absolute;    
    width: 100%;
    height: 100%;
    text-overflow:ellipsis;
    background-color: #cbdcee;
   background: url(images/sunny_deserted_beach-wallpaper-1366x768.jpg) no-repeat center bottom fixed;   
}

.headerbar{
    width: 100%;
    height: 6vw;
    margin-top: 1%;
    position: absolute; 
    overflow-x: inherit;
}

.header

{
    position: absolute;    
    width: 100%;
    height: 100%;
    text-overflow:ellipsis;
    overflow-x: hidden;
    overflow-y: scroll;
}


.dropbtn {
  background-color: transparent;
  padding: .95vw 0.5vw;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: -10%;
  background-color: grey;
  width: 30vw;
  box-shadow: 0% 8% 16% 0% rgba(0,0,0,0.2);
  z-index: 1;
font-size: 1.2vw;
}

.dropdown-content a {
  color: whitesmoke;
  padding-top: 4%;
  padding-bottom: 4%;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 150%;
  font-family: serif;
}

.dropdown-content a:hover {background-color:skyblue;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover #bar{background-color: aliceblue;}
.dropdown:hover .menu{color: aliceblue;}
#bar
{
    background-color: skyblue;
    height: 0.4vw;
    width: 3vw;
    margin-top: 0.4vw;
}

.circle{
    /*--Image position --*/
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    margin-top: -5vw;
    background-image: url(images/Scan.jpg);
    
    /*---circle mesurements---*/    
    width: 14%;
    height:0;
    padding-bottom: 14%;
    -moz-border-radius: 50%; 
    -webkit-border-radius: 50%; 
    border-radius: 50%; 
    border: 0.8vw solid white;
    background-size:cover;
   background-position: center;
    box-shadow: 0px 15px 10px -15px #111;
}

.first { 
    background-size: cover;
    background-position: center; 
    padding-top: 15%;
    padding-bottom: 5%;
    background: rgb(179,207,221, 0.4);  
} 
      
.second { 
    background: white;
    height: 1.5%;
} 
.third { 
   background-image: url(images/backgroundblue1.jpg);
    background-color: #cbdcee;
    padding-bottom: 10vw;
} 


/*---------------------*/

.name{
    margin-top: 1%;
    text-align: center;
    font-family: 'Cinzel Decorative', serif;
    font-size: 3.5vw;
    font-weight: bold;
    word-spacing: 1vw;
    letter-spacing: 0.3vw;
    
}

.discription{
    text-align: center;
    font-family: 'El Messiri', sans-serif;
    font-size: 1.9vw;
    letter-spacing: 0.05vw;
    word-spacing: 0.6vw;
    text-shadow: 0.9px 1px 1px grey;
}

.arrow
{
    transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
 
i{
    border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.down
{
  margin-left: 50%;
}

article {
  max-width: 90%;
  overflow: hidden;
  margin: 0 0% 1% 36%;
  font-family: 'Cinzel Decorative', serif;
letter-spacing: 0.3vw;
}

.subtitle {
  margin: 3% 0 3% 0;
    color: black;
    font-weight: bold;
}

.fancy {
  line-height: 10%;
  text-align: center;
}

.fancy span {
  display: inline-block;
  position: relative;  
}

.fancy span:before,
.fancy span:after {
  content: "";
  position: absolute;
  height: 400%;
  border-bottom: 3px solid white;
  border-top: 3px solid white;
  width: 80%;
}

.fancy span:before {
  right: 100%;
  margin-right: 8%;
}

.fancy span:after {
  left: 100%;
  margin-left: 8%;
}

.copy {
  margin: auto;
  font: 1.3vw Serif;
  background: #f7f4f0;
  border: 12px solid white;
}
.copy3 {
  margin-top: 7vw;
}

h1{
    padding: 0.9% 0 0 13%;
    font-size: 2.4vw;
    font-family: 'Cinzel Decorative', serif;
     word-spacing: 0.3vw; 
}

h3{
    text-align: center;
    margin: 7% 0% 3% 0%;
    font-size: 1.9vw;
    font-family: 'Cinzel Decorative', serif;
    word-spacing: 0.3vw;
}
.copy p {
  text-align: center;
}

.iconcircle1
{
    width: 40%;
    height: 2%;
    padding-bottom: 30%;
    -moz-border-radius: 50%; 
    -webkit-border-radius: 50%; 
    border-radius: 50%;
    background-image: url(images/bitbucket3.png);
     background-size: cover;
     background-position: center; 
}

.iconcircle2{
    width: 40%;
    height: 2%;
    padding-bottom: 30%;
    -moz-border-radius: 50%; 
    -webkit-border-radius: 50%; 
    border-radius: 50%; 
    background-color: #4679BD;
    background-image: url(images/github_PNG70.png);
     background-size: cover;
   background-position: center; 
}

.iconcircle3{
     width: 40%;
    height: 2%;
    padding-bottom: 30%;
    -moz-border-radius: 50%; 
    -webkit-border-radius: 50%; 
    border-radius: 50%; 
    background-image: url(images/instagram-clip-art.png);
     background-size: cover;
   background-position: center; 
    background-color: white;
}

.iconcircle4{
    width: 40%;
    height: 2%;
    padding-bottom: 30%;
    -moz-border-radius: 50%; 
    -webkit-border-radius: 50%; 
    border-radius: 50%; 
    background-image: url(images/iconfinder_facebook_circle_294710.png);
    background-size: cover;
    background-position: center; 
}

.border{
    margin: auto;
    width: 87%;
    padding: 1.5vw;
    background-color: #7da1d0;
    box-shadow: rgba(0,0,0,0.2) 10px 10px 10px;
}

.copy2 {
  margin: 12% 25% 0% 25%;
  -moz-column-count: 4;
  -moz-column-gap: 1px;
  -webkit-column-count: 4;
  -webkit-column-gap: 1px;
}

.aboutme
{
   line-height: 2vw;
   margin: 1% 6% 1% 5%;
    word-spacing: 0.2vw;   
    font-family: 'El Messiri', sans-serif;
}

.para{
margin-bottom: 2vw;    
}

.circle2 {
    background-color: #7db9e8;
    margin: 0 9% 1.5% 5%;
    float: left;
    box-shadow: rgba(0,0,0,0.2) 5px 1px 10px;
    -webkit-shape-outside: circle();
    shape-outside: circle();
    
    width: 25%;
    height:0;
    padding-bottom: 25%;
    -moz-border-radius: 50%; 
    -webkit-border-radius: 50%; 
    border-radius: 50%;
    border: 1vw solid white;
   
    background-image: url(images/1200px-CSU_San_Marcos_seal_svg.png);
   background-size:cover;
   background-position: center;
}


footer{
    padding: 2%;
    text-align: center;
    font-size: 1.3vw ;
    background: rgb(179,207,221, 0.35); 
}

p
{
    color: black;
}

.copyright
{
    color: black;
}
/* ----------------------------------------------- */
/*                 backtotop                       */
/* ----------------------------------------------- */
.backtotop
{
    font-size: 1.7vw;
    color: skyb;
    
}

.copy4 {
 margin-left: 25%;
  margin-right: 25%;
  -moz-column-count: 4;
  -moz-column-gap: 1px;
  -webkit-column-count: 4;
  -webkit-column-gap: 1px;
}


/*---------Fading Circles----------*/

figure {
    display: flex;
    justify-content: center;
    white-space: nowrap;
    margin-bottom: 2.2vw;
}


.container {
    display: inline-block;
    margin-right: 3%;
    margin-left: 3%;
	position: relative;
	overflow: hidden;
	box-shadow: rgba(0,0,0,0.4) 1px 10px 18px;
    width: 15%;
    height:0;
    padding-bottom: 15%;
    -moz-border-radius: 50%; 
    -webkit-border-radius: 50%; 
    border: 0.9vw solid white;
}

/*---Element 1: FOOD---*/
.element1 {
    
  animation: anim 21s infinite;
    position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-size: cover;
    background-position: center;
}

.element1:nth-child(1) {
    background-image: url(images/pie.jpg);
  animation-delay: 0s;
}

.element1:nth-child(2) {
  animation-delay: 4s;
    background-image: url(images/50-LAN-fin1.jpg);
}
.element1:nth-child(3) {
  animation-delay: 8s;
    background-image: url(images/untitled.png);
}

.element1:nth-child(4) {
  animation-delay: 12s;
    background-image: url(images/donuts.png);
}

.element1:nth-child(5) {
  animation-delay: 16s;
    background-image: url(images/Pesto-Pasta_3.jpg);
}

/*---Element 2: ANAMALS---*/
.element2 {
  animation: anim 23s infinite;
    position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-size: cover;
    background-position: center;
}

.element2:nth-child(1) {
    background-image: url(images/seaturtle.jpg);
  animation-delay: 1s;
}

.element2:nth-child(2) {
  animation-delay: 5s;
    background-image: url(images/Pangolin-in-colour.jpg);
}
.element2:nth-child(3) {
  animation-delay: 9s;
    background-image: url(images/Pika_carado.jpg);
}

.element2:nth-child(4) {
  animation-delay: 13s;
    background-image: url(images/bees.png);
}

.element2:nth-child(5) {
  animation-delay: 18s;
    background-image: url(images/elephant1.jpg);
}

/*---Element 3: PLACES---*/
.element3 {
  animation: anim 25s infinite;
    position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-size: cover;
    background-position: center;
}

.element3:nth-child(1) {
    background-image: url(images/Torrey%20Pines%20Bluff%201233x860.jpg);
  animation-delay: 2s;
}

.element3:nth-child(2) {
  animation-delay: 6s;
    background-image: url(images/waikiki2.jpg);
}
.element3:nth-child(3) {
  animation-delay: 9s;
    background-image: url(images/danali3.png);
}

.element3:nth-child(4) {
  animation-delay: 14s;
    background-image: url(images/port-issic.png);
}

.element3:nth-child(5) {
  animation-delay: 19s;
    background-image: url(images/alamo_square.jpg);
}

/*---Element 4: STORIES---*/
.element4 {
  animation: anim 24s infinite;
    position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-size: cover;
    background-position: center;
}

.element4:nth-child(1) {
    background-image: url(images/hobbit.jpg);
  animation-delay: 3s;
}

.element4:nth-child(2) {
  animation-delay: 7s;
    background-image: url(images/PhantomTollbooth.jpg);
}
.element4:nth-child(3) {
  animation-delay: 11s;
    background-image: url(images/shawshank1.jpg);
}

.element4:nth-child(4) {
  animation-delay: 15s;
    background-image: url(images/waroftheworlds.jpg);
}

.element4:nth-child(5) {
  animation-delay: 20s;
    background-image: url(images/petter_harry.gif);
}

/*----End Elements----*/


@keyframes anim {
  0% { opacity: 0; z-index: 100;}
  15% { opacity: 1;}
  50% { opacity: 1;}
  100% { opacity: 0; z-index: 1;}
}

.label {
    display: inline-block;
    margin-right: 2%;
    margin-left: 2.5%;
	position: relative;
	overflow: hidden;
    width: 15%;
    height: 0;
    padding-bottom: 2.5%;
    border: 1vw solid transparent;
    
    text-align: center;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.titles{
    display: flex;
    justify-content: center;
    display: inline-block;
	border: none;
	display: flex;
    font-family: 'El Messiri', sans-serif;
    font-size: 2.1vw;
    margin-top: -2vw;
    
}

.line
{
    background-color: gray;
    height: 3px;
    width: 90%;
    margin:  0.4% 0 0 5%;
}

.bottomline
{
    height: 10%;
}

/*-----HEADER-----*/

.menu
{
  white-space: nowrap;
  margin: 0 0 0 12%;
  font-family: 'Cinzel Decorative', serif;
  letter-spacing: 0.3vw;
  font-size: 1.5vw;
  color: white;
  text-shadow: 2.5px 2px 5px grey;
}

.whitebar
{
  background-color: white;
    height: 0.2vw;
    width 0%;
    margin-top: 0.4vw;  
}

.topwhitebar
{
  background-color: white;
    height: 0.2vw;
    width 100%;
    margin-top: 1.5vw;  
}

.topname {
  max-width: 100%;
  white-space: nowrap;
  margin: auto 5%;
  font-family: 'Cinzel Decorative', serif;
  letter-spacing: 0.15vw;
  font-size: 2vw;
    font-weight: 600;
}


/*-----Button-----*/

.submitbutton
{
  border: none;
  color: black;
  font-size: 1.4vw;
    word-spacing: 0.5vw;
  font-weight: bold;
  font-family: 'Cinzel Decorative', serif;
}

.btn {
	background-color: #7da1d0;
	border-radius: 40px;
    box-sizing: border-box;
	color: black;
	display: block;
	letter-spacing: 1%;
	padding: 0.3vw;
	position: relative;
    text-decoration: none;
	text-transform: uppercase;
	width: 24vw;
    height: 3.5vw;
    margin: 0 16%;
    position: absolute;
}

.submitbutton:hover {
	color: #fff;
    
}

.btn .submitbutton {
	align-items: center;
	border-radius: 40px;
	display: flex;
	justify-content: center;
	height: 100%;
	transition: background .6s ease;
	width: 100%;
}

.btn:hover .submitbutton {
	background: transparent;
}


/*-------Round Button--------*/

.pos {
    position:relative;
    margin:0 auto;
    transition:all 0.4s;
    -webkit-transition:all 0.4s;
    box-sizing:border-box;
}

.down-arrow {
    margin: 0 0 0 46vw;
    height: 4vw;
    width:7.5vw;
    padding-bottom: 0vw;
    padding-top: 0.6vw;
    background-color: transparent;
    border: none;
    color: transparent;
    font-family: 'El Messiri', sans-serif;
    font-size: 0.5vw;
    white-space: nowrap;
}

.down-arrow:before,.down-arrow:after {
    content:'';
    position:absolute;
    top:2vw;
    width:2vw;
    border:0.29vw solid #FFF;
    transition:all 0.3s;
    -webkit-transition:all 0.3s;
    background-color: white;
     border-radius: 50px 50px 50px;
}

.down-arrow:before {transform:rotateZ(45deg);   
                    -webkit-transform:rotateZ(45deg);
                    left: 1.7vw;
                    }

.down-arrow:after {transform:rotateZ(45deg);
                    -webkit-transform:rotateZ(-45deg);
                    left:3.1vw;
                    }

.down-arrow:hover {
    cursor:pointer;  
    border-width:0.5;
    color: white;
font-size: 1.5vw;}

.down-arrow:hover:before {top: 5vw; }
.down-arrow:hover:after {top: 5vw; }

